@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Epilogue", sans-serif;
}

.navbar a {
  border-radius: 3px;
  font-weight: 600;
  text-transform: capitalize;
}

.menu-horizontal > li .active,
.dropdown-content > li .active {
  background-color: transparent !important;
  color: #0ab99d !important;
}

.navbar a:hover {
  background-color: transparent !important;
  color: #0ab99d !important;
  outline: none;
  outline-offset: 0;
}

.cat-container {
  transition: 0.5s all ease-in-out;
}

.cat-container:hover > span {
  background-color: #000;
}

.cat-container:hover > h2,
.cat-container:hover > a {
  color: #fff;
}

.teamImg {
  position: relative;
}
.teamImg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #0e2a4680;
  opacity: 0;
  transition: 0.4s all ease-in-out;
  z-index: 1;
}
.teamImg:hover::before {
  opacity: 0.5;
}
